<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    {include file='common/head'}
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form ajax_post_reload" action="{$_self_}">
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>商品名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info['name']|default=''}" placeholder="必填项"></div>
            </div>
            <div class="layui-form-item">
                <label for="author" class="layui-form-label">
                    作者</label>
                <div class="layui-input-inline">
                    <input type="text" id="author" name="author" autocomplete="off" class="layui-input" value="{$info['author']|default='匿名'}"></div>
            </div>
            <div class="layui-form-item">
                <label for="remark" class="layui-form-label">
                    描述</label>
                <div class="layui-input-inline">
                    <input type="text" id="remark" name="remark" autocomplete="off" class="layui-input" value="{$info['remark']|default=''}"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>所属栏目</label>
                <div class="layui-input-inline">
                    <select id="shipping" name="pid" class="valid">
                        {volist name="lists" id="vo"}
                        <option value="{$vo['id']}" {if isset($info['pid'])&&$info['pid']==$vo['id'] }selected{/if}>{$vo['name']}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="prince" class="layui-form-label">
                    <span class="x-red">*</span>价格</label>
                <div class="layui-input-inline">
                    <input type="text" id="prince" name="prince" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info['prince']|default=''}"></div>
            </div>
            <div class="layui-form-item">
                <label for="number" class="layui-form-label">
                    <span class="x-red">*</span>数量</label>
                <div class="layui-input-inline">
                    <input type="number" id="number" name="number" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$info['number']|default=''}"></div>
            </div>
            <input type="hidden" name="picture" id="picture" value="{$info['picture']|default=''}">
            <div class="layui-upload">
                <label for="L_repass" class="layui-form-label"></label>
                <button type="button" class="layui-btn" id="test1" name="image" style="margin-right: 50px">上传图片</button>
                <button class="layui-btn" lay-filter="add" lay-submit="">提交</button>
                <div class="layui-upload-list">
                    <label for="L_repass" class="layui-form-label">预览图:</label>
                    <img class="layui-upload-img" id="demo1" style="width: 150px;height: 150px;margin: 0 10px 10px 0">
                    <p id="demoText"></p>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script>
    layui.use(['form', 'layer','upload'],
    function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;
            upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,field: 'image'
            ,url: '/index.php/admin/base/img_upload' //改成您自己的上传接口
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg(res.msg);
                }
                //上传成功
                $('#picture').attr('value',res.data);
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });


        var img = $('#picture').val();//imgurl 就是你的图片路径
        function getBase64Image(img) {
            var canvas = document.createElement("canvas");
            canvas.width = img.width;
            canvas.height = img.height;
            var ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0, img.width, img.height);
            var ext = img.src.substring(img.src.lastIndexOf(".")+1).toLowerCase();
            var dataURL = canvas.toDataURL("image/"+ext);
            return dataURL;
        }
        if (img !== ''){
            var image = new Image();
            image.src = img;
            image.onload = function(){
                var base64 = getBase64Image(image);
                $('#demo1').attr('src', base64);
            }
        }
    });
</script>
</body>

</html>